/node_modules
/public/hot
public/storage/
public/media/**/*.*
/storage/*.key
/storage/uploads/
/storage/medialibrary/
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/.idea
.DS_Store
